@mixin center-items {
	justify-content: center;
	align-content: center;
	text-align: center;
}

@mixin cell-size {
	.cell-header,
	.cell-post-1,
	.cell-post-2,
	.cell-post-3 {
		margin: 1vh 0 8vh 0;
		padding: 1vh;
		text-align: center;
	}
}

@mixin post-size {
	.cell-post-1,
	.cell-post-2,
	.cell-post-3 {
		align-content: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		height: 45vh;
		padding: 10rem;
		justify-content: center;
		margin-left: 1rem;
		margin-right: 1rem;

		article {
			align-content: center;
		}
	}
}

*,
*::before,
*::after {
	border: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

h2,
h3,
h4 {
	line-height: 4vh;
	margin: 2vh 0 1vh 0;
}
p {
	line-height: 4vh;
	text-align: center;
}

.container {
	@include center-items();
	@include cell-size();
	@include post-size();

	display: grid;
	grid-template-areas: "header header header" "main main main" "content content content"
		"newsletter newsletter newsletter" "footer footer footer";
	grid-template-columns: repeat(auto-fill, minmax(80vh, 1fr));
	height: 100%;
	margin: 0 auto;
	width: 100%;

	.cell-header {
		grid-area: header;
		height: 90vh;
		margin-top: 0;
		padding: 0;
		z-index: 0;

		nav {
			margin-top: 0;
			padding: 1vh 0 1vh 0;
			position: fixed;
			width: 100%;
			z-index: 3;

			ul li {
				display: inline-flex;
				flex-direction: row;

				a {
					color: white;
					letter-spacing: 0.5vh;
					margin: 0 2vh 0 2vh;
					outline: 0;
				}
			}
		}

		h4 {
			position: relative;
			top: 15vh;
			z-index: 2;
		}

		.brand {
			height: auto;
			left: 11%;
			position: relative;
			top: 50%;
			transform: translate(-50%, 70%);
			width: 55vh;
			z-index: 2;
		}

		.video-bg {
			height: auto;
			margin-top: 0;
			opacity: 70%;
			position: relative;
			width: 100%;
			z-index: 0;
		}

		.video-overlay {
			position: relative;
			background: rgb(255, 255, 255);
			padding-top: -1vh;
			height: 100%;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -52.85%);
			z-index: 1;
		}
	}

	.cell-post-1 {
		grid-area: content;

		video {
			margin: 1vh;
			height: 30vh;
			width: 30vh;
		}
	}

	.cell-post-2 {
		grid-area: main;

		img {
			
			height: 20vh;
			width: 20vh;
			border-radius: 999em;
			margin: 0 1vh 0 1vh;
		}
	}

	.cell-post-3 {
		grid-area: newsletter;
	}

	.cell-footer {
		grid-area: footer;
	}
}
