*,
*::before,
*::after {
  border: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h2,
h3,
h4 {
  line-height: 4vh;
  margin: 2vh 0 1vh 0;
}

p {
  line-height: 4vh;
  text-align: justify;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "main main main" "content content content" "newsletter newsletter newsletter" "footer footer footer";
  -ms-grid-columns: (minmax(80vh, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80vh, 1fr));
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.container .cell-header,
.container .cell-post-1,
.container .cell-post-2,
.container .cell-post-3 {
  margin: 4vh 0 4vh 0;
  padding: 1vh;
  text-align: center;
}

.container .cell-post-1,
.container .cell-post-2,
.container .cell-post-3 {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 45vh;
  padding: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .cell-post-1 article,
.container .cell-post-2 article,
.container .cell-post-3 article {
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .cell-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  height: 90vh;
  margin-top: 0;
  padding: 0;
  z-index: 0;
}

.container .cell-header nav {
  margin-top: 0;
  padding: 1vh 0 1vh 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.container .cell-header nav ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .cell-header nav ul li a {
  color: white;
  letter-spacing: 0.5vh;
  margin: 0 2vh 0 2vh;
  outline: 0;
}

.container .cell-header h4 {
  position: relative;
  top: 15vh;
  z-index: 2;
}

.container .cell-header .brand {
  height: auto;
  left: 11%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, 60%);
          transform: translate(-50%, 60%);
  width: 55vh;
  z-index: 2;
}

.container .cell-header .video-bg {
  height: auto;
  margin-top: 0;
  opacity: 70%;
  position: relative;
  width: 100%;
  z-index: 0;
}

.container .cell-header .video-overlay {
  position: relative;
  background: white;
  padding-top: -1vh;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52.85%);
          transform: translate(-50%, -52.85%);
  z-index: 1;
}

.container .cell-post-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
}

.container .cell-post-1 video {
  height: 21vh;
  width: 21vh;
}

.container .cell-post-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.container .cell-post-2 img {
  height: auto;
  width: 4vh;
}

.container .cell-post-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: newsletter;
}

.container .cell-footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}
/*# sourceMappingURL=grid.css.map */