*,
*::before,
*::after {
  border: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h2,
h3,
h4 {
  line-height: 4vh;
  margin: 2vh 0 1vh 0;
}

p {
  line-height: 4vh;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  p {
    line-height: 1.75vh;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  p {
    line-height: 2vh;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: justify;
  }
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "main main main" "content content content" "newsletter newsletter newsletter" "footer footer footer";
  -ms-grid-columns: (minmax(80vh, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(80vh, 1fr));
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.container .cell-header,
.container .cell-post-1,
.container .cell-post-2,
.container .cell-post-3 {
  margin: 15vh 0 10vh 0;
  padding: 1vh;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header,
  .container .cell-post-1,
  .container .cell-post-2,
  .container .cell-post-3 {
    margin: 2vh 0 2vh 0;
    padding: 4vh;
    font-size: 90%;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-header,
  .container .cell-post-1,
  .container .cell-post-2,
  .container .cell-post-3 {
    margin: 4vh 0 4vh 0;
    font-size: 80%;
  }
}

.container .cell-post-1,
.container .cell-post-2,
.container .cell-post-3 {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 45vh;
  padding: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.container .cell-post-1 article,
.container .cell-post-2 article,
.container .cell-post-3 article {
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-post-1,
  .container .cell-post-2,
  .container .cell-post-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-post-1,
  .container .cell-post-2,
  .container .cell-post-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

.container .cell-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  height: 90vh;
  margin-top: 0;
  padding: 0;
  z-index: 0;
}

.container .cell-header .nav-bar {
  margin-top: 0;
  padding: 1vh 0 1vh 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.container .cell-header .nav-bar ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .cell-header .nav-bar ul li a {
  letter-spacing: 0.36vh;
  margin: 0 2vh 0 2vh;
  outline: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header .nav-bar {
    width: 100%;
    left: 0%;
  }
  .container .cell-header .nav-bar a {
    font-size: 0.7rem;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-header .nav-bar {
    left: 0;
    width: 100%;
  }
  .container .cell-header .nav-bar a {
    font-size: 0.8rem;
  }
}

.container .cell-header h4 {
  position: relative;
  top: 15vh;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header h4 {
    top: 12vh;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-header h4 {
    font-size: 0.6rem;
    font-weight: bolder;
  }
}

.container .cell-header .brand {
  height: auto;
  left: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
  width: 55vh;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header .brand {
    margin-top: -12vh;
    left: 25%;
    -webkit-transform: translate(-50%, 97%);
            transform: translate(-50%, 97%);
    width: 34vh;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-header .brand {
    margin-top: 0;
    left: 20%;
    -webkit-transform: translate(-50%, 97%);
            transform: translate(-50%, 97%);
    width: 32vh;
  }
}

.container .cell-header .video-overlay {
  position: relative;
  padding-top: -1vh;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52.85%);
          transform: translate(-50%, -52.85%);
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header .video-overlay {
    margin-top: -1vh;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-header .video-overlay {
    margin-top: -1vh;
  }
}

.container .cell-header .video-overlay .video-bg {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  margin-top: 0;
  opacity: 70%;
  position: relative;
  width: 100%;
  z-index: 0;
}

.container .cell-post-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
}

.container .cell-post-1 video {
  margin: 1vh;
  height: 30vh;
  width: 30vh;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-post-1 video {
    height: 15vh;
    width: 15vh;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-post-1 video {
    height: 19vh;
    width: 19vh;
  }
}

.container .cell-post-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.container .cell-post-2 img {
  height: 20vh;
  width: 20vh;
  border-radius: 999em;
  margin: 0 1vh 0 1vh;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-post-2 img {
    height: 10vh;
    width: 10vh;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-post-2 img {
    height: 10vh;
    width: 10vh;
  }
}

.container .cell-post-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: newsletter;
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-post-3 input[type=email] {
    margin: 1vh;
  }
}

.container .cell-footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container .cell-footer {
    font-size: 0.9rem;
  }
}

@media (min-width: 360px) and (max-width: 375px) {
  .container .cell-footer {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  .container .cell-footer p {
    position: relative;
    left: 35%;
  }
}
/*# sourceMappingURL=grid.css.map */