@mixin media-size($size) {
}

*,
*::after,
*::before {
	border: 0;
	box-sizing: border-box;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	overflow-x: hidden;
	align-content: center;
	align-items: center;
	align-self: center;
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	.row {
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		padding: 0.32rem;
		width: 100%;

		&:last-child {
			position: relative;
			margin-top: 35em;
			margin-bottom: 0em;
			bottom: -1%;

			.col {
				text-align: center;
			}
		}

		.col {
			flex-grow: 1;
			flex-shrink: 1;
			margin: 0.3em 0 0.7em 0;
			padding: 1.5rem;
			width: 100%;

			

			.item {
				text-align: center;
				margin: 0.25rem;
			}
		}
	}
}
