*,
*::after,
*::before {
  left: 0;
  font-family: monospace;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 10rem;
  color: #445877;
}

h2 {
  font-size: 3rem;
  color: #445877;
}

h3 {
  font-size: 2rem;
  color: #8f80fd;
}

p {
  font-size: 1.42rem;
  text-indent: 2rem;
  opacity: 70%;
}

.container {
  overflow-y: hidden;
}

.container .row {
  color: #31343d;
}

.container .row .header {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #31343d;
  position: absolute;
  padding: 0;
  top: -0.5%;
  z-index: 0;
}

.container .row .header .nav-bar {
  background: #31343d;
  position: fixed;
  left: -0.18%;
  top: -0.4%;
  padding: 0.4em 0 0 0;
  width: 100%;
  z-index: 2;
}

.container .row .header .nav-bar ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container .row .header .nav-bar ul li .nav-link {
  -webkit-transition: ease-out 0.45s;
  transition: ease-out 0.45s;
  font-weight: bolder;
  font-size: 1.35rem;
  margin: 0 1.42rem 0 3rem;
  color: #ffffff;
  z-index: 3;
}

.container .row .header .nav-bar ul li .nav-link:hover {
  -webkit-transition: ease-in 0.45s;
  transition: ease-in 0.45s;
  color: #8f80fd;
}

.container .row .header .header-brand {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  color: transparent;
  height: auto;
  width: 100%;
  top: 18em;
  z-index: 1;
}

.container .row .header .header-brand img {
  image-rendering: optimizeQuality;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  min-width: 12em;
  width: 45em;
  max-width: 142em;
}

.container .row .header .header-brand .item {
  text-align: center;
  z-index: 1;
}

.container .row .header .video-bg {
  position: absolute;
  background: white;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 10rem;
  width: 100%;
  top: -1vh;
  z-index: 0;
}

.container .row .header .video-bg::after {
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  opacity: 0;
}

.container .row .header .video-overlay {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  top: -1vh;
  z-index: 9;
  background: #8f80fd;
  opacity: 90%;
}

.container .row .post {
  position: relative;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  justify-items: baseline;
  top: 30em;
  z-index: -1;
}

.container .row .post:first-child {
  margin-top: 20rem;
}

.container .row .post:last-child {
  margin-bottom: 34rem;
}

.container .row .post .item {
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 4rem 0 4rem 0;
  background: #bbe7e7;
  border: solid 0.1rem #31343d;
}

.container .row .post .item .video-product {
  width: 20em;
  height: 20em;
  background: #31343d;
  border: solid 0.3rem #31343d;
  border-radius: 0;
}

.container .row .post .item img {
  width: 15em;
  height: 15em;
  border-radius: 99em;
}

.footer-wrap {
  background: #31343d;
}

.footer-wrap p {
  color: #bbe7e7;
}

.footer-wrap a:-webkit-any-link {
  color: #8f80fd;
}

.footer-wrap a:-moz-any-link {
  color: #8f80fd;
}

.footer-wrap a:any-link {
  color: #8f80fd;
}
/*# sourceMappingURL=style.css.map */