//quick color variables
$bg-color: #ffffff;
$fg-color: #31343d;
$accent-1: #8f80fd;
$accent-2: #bbe7e7;
$accent-3: #445877;
// hover
@mixin hover {
	transition: ease-out 0.45s;

	&:hover {
		transition: ease-in 0.45s;
		color: $accent-1;
	}
}
//start
*,
*::after,
*::before {
	left: 0;
	font-family: monospace;
	letter-spacing: 0.2rem;
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	font-size: 10rem;
	color: $accent-3;
}
h2 {
	font-size: 3rem;
	color: $accent-3;
}
h3 {
	font-size: 2rem;
	color: $accent-1;
}
p {
	font-size: 1.42rem;
	text-indent: 2rem;
	opacity: 70%;
}

.container {
	

	.row {
		color: $fg-color;

		.header {
			align-content: center;
			justify-content: center;
			background-color: $fg-color;
			position: absolute;
			padding: 0;
			top: -0.5%;
			z-index: 0;

			.nav-bar {
				background: $fg-color;
				position: fixed;
				left: -0.4%;
				top: -0.4%;
				padding: 0.4em 0 0 0;
				width: 100%;
				z-index: 2;

				ul li {
					display: inline-flex;
					flex-flow: row wrap;

					.nav-link {
						@include hover();

						font-weight: bolder;
						font-size: 1.35rem;
						margin: 0 1.42rem 0 3rem;
						color: $bg-color;
						z-index: 3;
					}
				}
			}

			.header-brand {
				position: relative;
				align-content: center;
				align-items: center;
				justify-content: center;
				justify-items: center;
				color: transparent;
				height: auto;
				width: 100%;
				top: 2em;
				z-index: 1;

				img {
					min-width: 12em;
					width: 24em;
					max-width: 72em;
				}

				.item {
					text-align: center;
					z-index: 1;
				}
			}

			.video-bg {
				position: absolute;
				background: white;
				height: auto;
				width: 100%;
				top: -1vh;
				z-index: 0;
			}
		}

		.post {
			position: relative;
			justify-content: baseline;
			justify-items: baseline;
			top: 50%;
			z-index: -1;

			.item {
				margin-top: 15rem;
				padding: 4rem 0 4rem 0;
				background: $accent-2;
				border: solid 0.1rem $fg-color;
			}
		}

		
	}
}

.footer-wrap {
	background: $fg-color;

	p {
		color: $accent-2;
	}
	a:any-link {
		color: $accent-1;
	}
}
